.Header {
  &-content {
    background-color: #fff;
    background-color: rgba(#ffffff, 0.80);
    background-color: transparent;
    font-family: $ff_principal;
    padding: 10px;
    h1 {
      color: #fff;
      font-family: $ff_sc;
      font-weight: $w_semibold;
      text-align: center;
      text-transform: uppercase;
      font-size: 28px;
      line-height: 31px;
      margin-top: 10px;
      text-shadow: 2px 2px 4px #000;
      @include breakpoint(phablet) {
        font-size: 45px;
        line-height: 48px;
      }
    }
    .img-logo {
      max-width: 250px;
      display: block;
      margin: 0 auto;
    }
  }


}
