/*---------------------------------------------------------------------------*
 * MainContent
----------------------------------------------------------------------------*/
.MainContent {
  &-content {
    background: $c_bg_main_content;
    padding: 10px;
    @include breakpoint(phablet) {
      padding-left: 20px;
    }

    img {
      border: 0;
      display: block;
      margin: 0 auto;
    }
  }
}
/*---------------------------------------------------------------------------*
* Fin:MainContent
----------------------------------------------------------------------------*/
