/*---------------------------------------------------------------------------*
 * MainContent
----------------------------------------------------------------------------*/
.MainContent {
  &-content {
    background-color: #fff;
    background-color: rgba(#ffffff, 0.82);
    padding: 10px;
    @include breakpoint(phablet) {
      padding-left: 20px;
    }

    img {
      border: 0;
      display: block;
      margin: 0 auto;
    }
  }
}
/*---------------------------------------------------------------------------*
* Fin:MainContent
----------------------------------------------------------------------------*/
