/*---------------------------------------------------------------------------*
 * OuterContainer
----------------------------------------------------------------------------*/
.OuterContainer {
  min-height: 400px;
  max-width: 850px;
  margin: 0 auto;
  padding: 10px;
}
/*---------------------------------------------------------------------------*
* Fin:OuterContainer
----------------------------------------------------------------------------*/
