.Ranking
  table.hover
    thead
      tr
        th Posición
        th Jugador
        th Raza
    //- tr
    //-   td 1
    //-   td Dreamer / Shogun (Pendiente)
    //-   td Terran
    //- tr
    //-   td 2
    //-   td Dreamer / Shogun (Pendiente)
    //-   td Terran
    //- tr
    //-   td 3
    //-   td Ramoncito
    //-   td Zerg
    //- tr
    //-   td 4
    //-   td Atila / Zeratul / Ripper / 
    //-   td -
    //- tr
    //-   td 5
    //-   td Bratex / Outlaw / Zayin / Angel
    //-   td -
