$ff_principal : 'OpenSans', Arial;
$ff_sc        : 'Jura', Arial;

// Pesos
// Light: 300
// Normal: 400
// Medium: 500
// Semibold: 600
$w_light      : 300;
$w_normal     : 400;
$w_medium     : 500;
$w_semibold   : 600;
$w_bold       : 700;
