include ../config/config.jade
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{site_title}
    meta(name="description", content="#{site_description}")
    meta(name="author", content="#{site_author}")
    
    //- Archivos CSS
    block _css-files_
  body
    .OuterContainer
      include ./header.jade
      
      //- Contenido variable
      block _main-content_
      
      include ./footer.jade
      
    //- Archivos Javascript
    
    //Archvios de terceros
    script(src='js/vendor/jquery.min.js')
    script(src='js/vendor/jquery.validate.min.js')
    
    //Scripts propios
    script(src="js/modules/main-nav.js")
    script(src="js/app.js")
    block _js-files_
