include ../config/config.jade
doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{site_title}
    meta(name="description", content="#{site_description}")
    meta(name="author", content="#{site_author}")

    //- Archivos CSS
    block _css-files_
  body
    div#fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.7&appId=1736000783314172";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    .OuterContainer
      include ./header.jade

      //- Contenido variable
      block _main-content_

      include ./footer.jade

    //- Archivos Javascript

    //- Firebase Scripts
    //- script(src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js")
    //- script.
    //-   // Initialize Firebase
    //-   var config = {
    //-     apiKey: "AIzaSyB-sbQWqYrWvoyEP15kHOmCQi_pVmK3500",
    //-     authDomain: "startcraft-app.firebaseapp.com",
    //-     databaseURL: "https://startcraft-app.firebaseio.com",
    //-     storageBucket: "startcraft-app.appspot.com",
    //-   };
    //-   firebase.initializeApp(config);

    //Archvios de terceros
    script(src='js/vendor/jquery.js')
    script(src='js/vendor/what-input.js')
    script(src='js/vendor/foundation.min.js')
    script(src='js/vendor/jquery.backstretch.min.js')
    //- script(src='js/vendor/jquery.validate.min.js')

    //Scripts propios
    script(src="js/modules/site.js")
    script(src="js/app.js")
    block _js-files_
