.MainContent
  .MainContent-content
    .row
      .columns
        include ../modules/ranking-list.jade
        include ../modules/edit.jade
        include ../modules/comments.jade
    .row
      .columns
        include ../modules/modal.jade
